.ihavebuildConatiner {
  padding: 30px;
  background-color: #0a192f;
  color: #b8c3e3;
}

.ihavebuildConatiner > div > h1 {
  color: #b8c3e3;
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  /* STYLES HERE */
}

@media only screen and (max-device-width: 480px) {
  .ihavebuildConatiner {
    padding: 15px;
  }
  .aboutHediing > h1 {
    font-size: 27px;
  }

  /* STYLES HERE */
}
