.ihavebuildCompo {
  display: flex;
  width: 100%;
  padding: 20px 0px;
}

.ihavebuildleft {
  width: 55%;
}

.ihavebuildleft > img {
  width: 100%;
  height: 90%;
}

.ihavebuildright {
  text-align: right;
  width: 460px;
  position: absolute;
  right: 13%;
}

.ihavebuildright > h3 {
  color: #b8c3e3;
}

.ihavebuildright > h1 {
  color: #b8c3e3;
}
.ihavebuildright > p {
  background-color: #071e3f;
  padding: 15px;
}
.technology {
  display: flex;

  justify-content: flex-end;
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  /* STYLES HERE */
}

@media only screen and (max-device-width: 480px) {
  .ihavebuildleft {
    width: 100%;
    position: relative;
    height: 250px;
  }

  .ihavebuildright {
    text-align: center;
    width: 100%;
    position: absolute;
    right: 0;
    top: 5%;
    background-color: black;
    opacity: 0.7;
    height: 250px;
  }

  .ihavebuildright > p {
    background: inherit;
    padding: 6px;
  }
  /* STYLES HERE */
}
