.experience {
}
.CardBox {
  display: flex;
  flex-wrap: wrap;
  background-color: #0a192f;
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  /* STYLES HERE */
}

@media only screen and (max-device-width: 480px) {
  /* STYLES HERE */
}
